<!doctype html>
<html>
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        text-align: center;
      }
      h1 {
        color: #f44336;
      }
      p {
        color: #555;
      }
    </style>
  </head>
  <body>
    <h1>Terjadi kesalahan</h1>
    <p>Token verifikasi tidak valid</p>
  </body>
</html>
